body{
	background-color: #F8F8F8;
	margin: 0;
}
.hero-body{
	display: inline-block;
}
.nav-header {
	opacity: 1;
  position: fixed;
  z-index: 30;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
}
.nav-header-shrink {
	background-color: #F8F8F8;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);
}
.nav-header-shrink a{
	right: 10px;
	top: 5px;
}
.nav-header-shrink a img{
	width: 40px;
}
.nav-header-shrink div{
	left: 10px;
	top: 10px;
}
.logo {
	z-index: 5;
	position: absolute;
	right: 30px;
	top: 30px;
}
.logo img{
	width:60px;
}
.pull-down-menu {
  background-color: #F8F8F8;
  padding: 50px;
  margin: 0;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -100%;
  border-top: 10px solid transparent;
  z-index: 10;
  
  transition: left .4s ease-in-out;
}
.pull-down-menu.is-open {
  top: 0;
  left: 0;
  position: fixed;
}
.pull-down-menu li{
  list-style-type: none;
  line-height: 2em;
  font-family: "open sans", sans-serif;
  color: black;	
}

.hamburger-menu {
	z-index: 5;
	position: absolute;
	width: 35px;
	height: 25px;
	left: 30px;
	top: 30px;
}

.hamburger-menu-handle {
	top: 10px;
    cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: black;
	position: absolute;
	display: block;
	content: '';
}

.hamburger-menu-handle:before, .hamburger-menu-handle:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: black;
	position: absolute;
	display: block;
	content: '';
}

.hamburger-menu-handle:before {
	top:-10px;
}

.hamburger-menu-handle:after {
	bottom:-10px;
}

.hamburger-menu-handle, .hamburger-menu-handle:before, .hamburger-menu-handle:after {
	transition: all 400ms ease-in-out;
}

.hamburger-menu-handle.active {
	background-color: transparent;
}

.hamburger-menu-handle.active:before, .hamburger-menu-handle.active:after {
	top:0;
}

.hamburger-menu-handle.active:before {
	transform: rotate(45deg);
}

.hamburger-menu-handle.active:after {
	transform: rotate(-45deg);
}

.home-top{
	height: 600px;
	background-color: #CC3000;
}
.scene{
	height: 100%;
	display:block;
	margin-top: 0;
}
.scene picture img{
	width: 100%;
}
.title{
	position: absolute;
	bottom: 40%;
	left:50%;
	margin-left: -10%;
	width: 20%;
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-0{
	position: absolute;
	top:22%;
	left:50%;
	margin-left:-7.5%;
	width:15%;
    transition: top 2s ease-out;
    -moz-transition: top 2s ease-out;
    -webkit-transition: top 2s ease-out;
}
.item-1{
	position: absolute;
	bottom: 75%;
    left: 12%;
    width: 4%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-2{
	position: absolute;
	bottom: 60%;
    left: 25%;
    width: 3%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-3{
	position: absolute;
	bottom: 50%;
    left: 12%;
    width: 4%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-4{
	position: absolute;
	bottom: 30%;
    left: 5%;
    width: 5%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-5{
	position: absolute;
	bottom: 75%;
    left: 85%;
    width: 4%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-6{
	position: absolute;
	bottom: 52%;
    left: 75%;
    width: 3%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}
.item-7{
	position: absolute;
	bottom: 30%;
    left: 90%;
    width: 5%;
    transform: translate(0px, 0px);
    transition: bottom 2s ease-out;
    -moz-transition: bottom 2s ease-out;
    -webkit-transition: bottom 2s ease-out;
}

.projects li:nth-child(1), .projects li:nth-child(2), .projects li:nth-child(3){
	width: calc(99.99% * 0.999/3 - (1px - 1px * 0.999/3));
	height: 50vh;
	display: block;
	float: left;
	margin-right: 1px;
}

.projects li:nth-child(4){
	width: 40%;
	height: 50vh;
	display: block;
	float: left;

}

.projects li:nth-child(5){
	width: calc(60% - 1px);
	height: 50vh;
	display: block;
	float: left;
	margin-left: 1px;	
}

.projects li {
	margin-bottom: 1px;
    position: relative;
    overflow: hidden;
}

.projects li picture{
	height: 100%;
    width: 100%;
    display: block;
    position: relative;
}
.projects li picture img{
	display: block;
    transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    min-height: 100%;
    min-width: 100%;
}
ul.projects{
	overflow: hidden;
    padding: 0;
    margin-top: 2px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10;
}
.about-bottom{
	bottom: 0;
	text-align: center;
}
.social-list{
	margin-top: 100px; 
}
.social{
	margin: 30px;
	color: #0a0a0a;
	text-decoration: none;
}
.about{
	align-items: center;
	flex-grow:1;
	flex-shrink:0;
}
.about-photo{
	width: 100%;
	height: auto;
}
.introduction{
	width: 600px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}